
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&family=Source+Sans+3:ital,wght@1,700&display=swap');



*{
    margin: 0;
    padding: 0;
}

.Navbar{
    display: flex;
    height: 10vh;
    width: 100vw;
    background-color:#1168F4;
    justify-content: space-between;

}

.logo{  
    width: 20vw;
    align-content: center;
    display: flex;
    justify-content: center;
}

.logo >img
{
    height:70px;
    width: 220px;
}

.hamburger>i{
    color: #CCFB90;
    font-size:30px;
    display: none;
    cursor: pointer;
  }
  

.Navmenu{
    width: 60vw;
}

.Navmenu ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items: center;
    gap:50px;
    font-size:18px; 
}

.Navmenu ul li{
    list-style: none;
    cursor: pointer;
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
}

.Navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;

}


.Navmenu ul li a{
    text-decoration: none;
    color :rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: 2px;
}

.Navmenu ul li a:hover{
    text-decoration: none;
    color: rgb(0, 255, 13); 
    transition: All 0.5s;
}

.Navbar-right>.icons{
    display: flex;
    gap:30px;
    font-size: 20.5px;
    cursor: pointer;
}
.Navmenu ul li a.active {
    color: #000000;
  }

.Navlink-icons>i{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;

}
.Navlink-icons>.fa-cart-plus
{
    position: relative; 
  font-size:19px ;

}

.Navlink-icons>i:hover {
    color:#ffffff;
    transition: all 0.5s;
    background-color: black;
}

.Navlink-icons.active{
    color:white;
}



.mobile-nav-icon{
    display: none;
}

.close-outline{
    display: none;
}