.Footer
{
    height: 30vh;
    width: 100vw;
    background-color: rgb(208, 206, 206);
    display: flex;
}


.Footer1 ,.Footer2 ,.Footer3,.Footer4
{
    display: flex;
    gap:15px;
    width: 300px;
    padding:65px;
    padding-left:50px;
}

.f1-i>i{
    padding-top:5px;
}

